@font-face {
  font-family: "avertastd-mono";
  src:
    url("./fonts/avertastd-mono-extrabold.woff2") format("woff2"),
    url("./fonts/avertastd-mono-extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0030-0039; /* 对应数字0-9的Unicode范围 */
}
