name: test_currency-trade-web
on:
  push:
    branches:
      - test
  workflow_dispatch:

jobs:
  build_currency-trade-web:
    runs-on: [self-hosted, test, linux, x64]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install # will run `yarn install` command

      - name: Build production bundle
        uses: borales/actions-yarn@v4
        with:
          cmd: build:test # will run `yarn build:prod` command

          # 新增：将上次备份的文件合并到当前构建目录
      - name: Merge with previous build artifacts
        run: |
          echo "➡️ 将上次备份的构建文件合并到当前构建..."
          if [ -d "/opt/web/test/build" ]; then
            echo "找到备份目录，复制文件到当前构建"
            sudo cp -R --update=none /opt/web/test/build/* ./build/
            echo "✅ 已合并 $(sudo ls ./build | wc -l) 个文件"
          else
            echo "⚠️ 没有找到备份目录，跳过合并"
          fi

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.TEST_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TEST_AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.ref_name }}-${{ github.run_id }}
        run: |
          docker build -t $ECR_REGISTRY/test_binarytradeweb/binarytradeweb:${{ github.ref_name }}-${{ github.run_id }} .
          docker push $ECR_REGISTRY/test_binarytradeweb/binarytradeweb:${{ github.ref_name }}-${{ github.run_id }}

      - name: Update kube config
        run: aws eks update-kubeconfig --name test-trade --region ap-southeast-1

      - name: Replace variables in deployment.yaml
        uses: datamonsters/replace-action@v2
        with:
          files: 'k8s/test-deployment.yaml'
          replacements:
            '$ECR_REGISTRY=${{ steps.login-ecr.outputs.registry }},$IMAGE_TAG=${{ github.ref_name }}-${{ github.run_id
            }}'

      - name: Install kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.25.3'

      - name: apply deployment.yaml
        run: kubectl apply -f k8s/test-deployment.yaml

      - name: Notify Lark on Success
        if: success()
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{
          "msg_type": "interactive",
          "card": {
            "config": {
              "wide_screen_mode": true
            },
            "header": {
              "title": {
                "tag": "plain_text",
                "content": "✅✅  【TEST】- 构建成功✅✅"
              },
              "template": "yellow"
            },
            "elements": [
              {
                "tag": "div",
                "text": {
                "tag": "lark_md",
                "content": "项目名称: '${{ github.event.repository.name }}'\n工作流名称: '${{ github.workflow }}'\n分支名称: '${{ github.ref_name }}'\n构建人: '${{ github.actor }}'\n构建 ID: '${{ github.run_id }}'\n构建地址: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}\n"
                }
              },
              {
                "tag": "hr"
              }
            ]
          }
          }' ${{ secrets.LARK_WEBHOOK_URL }}

      - name: Notify Lark on Failure
        if: failure()
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{
          "msg_type": "interactive",
          "card": {
            "config": {
              "wide_screen_mode": true
            },
            "header": {
              "title": {
                "tag": "plain_text",
                "content": "❌❌  【TEST】- 构建失败❌❌"
              },
              "template": "yellow"
            },
            "elements": [
              {
                "tag": "div",
                "text": {
                "tag": "lark_md",
                "content": "项目名称: '${{ github.event.repository.name }}'\n工作流名称: '${{ github.workflow }}'\n分支名称: '${{ github.ref_name }}'\n构建人: '${{ github.actor }}'\n构建 ID: '${{ github.run_id }}'\n构建地址: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}\n请检查构建日志"
                }
              },
              {
                "tag": "hr"
              }
            ]
          }
          }' ${{ secrets.LARK_WEBHOOK_URL }}
      - name: Backup build artifacts
        if: success() # 仅在部署成功时执行备份
        run: |
          echo "➡️ 将build目录备份到Runner服务器的/opt/web/test/build"
          if [ -d "/opt/web/test/build" ]; then
            echo "目录已存在"
          else
            sudo mkdir -p /opt/web/test/build
          fi
          sudo cp -R ./build/* /opt/web/test/build/
          echo "✅ 备份完成! 路径: /opt/web/test/build"
          ls -l /opt/web/test/build
